[Unit]
Description=RK Health Station Backend
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=/var/lib/rk_health_station
Environment=HEALTHD_DB_PATH=/var/lib/rk_health_station/healthd.sqlite
Environment=RK_HEALTH_STATION_SOCKET_NAME=/tmp/rk_health_station.sock
ExecStart=/usr/local/bin/healthd
Restart=always
RestartSec=2
User=root

[Install]
WantedBy=multi-user.target
